.alert {
    border: 2px solid black;
    padding: 5px 0 5px 0px;
    background-color: rgb(174, 232, 255);
    /* display: flex; */
}

#ss {
    font-weight: 900;
    font-size: 20px;
}

#alert1 {
    display: inline-block;
    float: right;
    background-color: rgb(174, 232, 255);
    border: none;
    font-size: 20px;
    font-weight: bold;
}

#alert1:hover {
    cursor: pointer;
    background-color: rgb(173, 204, 216);
}